* {
  margin: 0;
  padding: 0; }

body {
  font-family: Lato;
  font-size: 1rem;
  background-image: url("../img/tests/gradient.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  color: #2f2f2f; }

.container {
  margin: auto;
  width: 85%; }

.sm-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  width: 70%; }

.xsm-container {
  margin: auto;
  width: 70%; }

.itemZOOM * {
  transition: all 0.15s ease-in-out; }

.itemZOOM {
  transform: translate(0%, 0%) scale(0.9);
  transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045); }

.itemZOOM:hover {
  transform: translate(0%, 0%) scale(1.3);
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.nav {
  z-index: 1000000000; }

.btn {
  width: 35px;
  height: 35px;
  padding: 10px;
  background-color: #017a91;
  background-image: url("../img/tests/gradient.jpg");
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer;
  transition: all 0.5s; }

.btn span {
  width: 30px;
  height: 4px;
  background: #fff;
  position: absolute;
  top: 45%;
  left: 22%;
  transition: all 0.5s; }

.btn span:before {
  content: "";
  position: absolute;
  background: #fff;
  width: 30px;
  height: 4px;
  top: -10px;
  left: 0px;
  transition: all 0.5s; }

.btn span:after {
  content: "";
  position: absolute;
  background: #fff;
  width: 30px;
  height: 4px;
  top: 10px;
  left: 0px;
  transition: all 0.5s; }

.nav {
  width: 294px;
  height: 100vh;
  background-color: #f0f0f0;
  position: fixed;
  right: -300px;
  top: 0;
  transition: all 0.5s;
  user-select: none; }

.nav ul {
  list-style: none;
  padding: 75px 0px; }

.nav ul li {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  font-family: arial;
  font-weight: bold;
  padding: 5px 0;
  cursor: pointer;
  text-align: center; }

.nav ul li:hover {
  background: #77fed5; }

.nav a {
  text-decoration: none;
  color: #2f2f2f; }

.active {
  right: 0;
  transition: all 0.5s; }

.btn-slide {
  transform: translateX(-220px);
  transition: all 0.5s; }

.btn.btn-slide span {
  background: transparent;
  transition: all 0.5s; }

.btn.btn-slide span:before {
  transform: rotate(45deg);
  top: 0;
  transition: all 0.5s; }

.btn.btn-slide span:after {
  transform: rotate(-45deg);
  top: 0;
  transition: all 0.5s; }

.a1 {
  min-height: 100vh;
  color: #fff;
  text-align: center; }
  .a1 h1 {
    padding-top: 230px;
    margin-bottom: 0; }
    .a1 h1 span {
      font-size: 2.5em;
      text-transform: uppercase;
      border-bottom: 7px solid white;
      padding-bottom: 6px; }
  .a1 h2 {
    margin-top: 17px;
    font-size: 3.9em;
    font-weight: 300; }
  .a1 ul {
    padding-top: 50px;
    list-style: none;
    text-align: center;
    margin-top: 5%;
    display: block; }
    .a1 ul li {
      font-size: 50px;
      text-decoration: none;
      padding: 35px;
      display: inline-block; }
      .a1 ul li a {
        color: white; }

.b2 {
  display: block;
  min-height: 325px;
  background-color: #fff; }
  .b2 h1 {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .b2 .flex-container {
    display: flex;
    flex-direction: row;
    max-width: 960px;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 60px; }
    .b2 .flex-container .flex-item1 {
      align-self: center; }
      .b2 .flex-container .flex-item1 img {
        max-width: 250px;
        border-radius: 50%;
        margin-right: 40px; }
    .b2 .flex-container .flex-item2 {
      align-self: center; }
      .b2 .flex-container .flex-item2 p {
        font-weight: 300;
        font-size: 1.5em;
        word-spacing: 0.3em;
        margin-bottom: 20px;
        text-align: left; }

.c3-1 {
  display: block;
  background-color: #fff;
  min-height: 800px;
  padding-top: 0px;
  padding-bottom: 50px; }
  .c3-1 hr {
    margin: 25px auto;
    max-width: 685px; }
  .c3-1 img {
    max-width: 200px; }
  .c3-1 .title {
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 25px; }
  .c3-1 .flex-container {
    display: flex;
    justify-content: center; }
    .c3-1 .flex-container .item {
      padding: 30px; }
  .c3-1 ul {
    list-style: none;
    margin-top: 25px;
    text-align: center; }
    .c3-1 ul li {
      font-weight: 300;
      margin: 5px; }

.d4-1 {
  background-color: #f0f0f0;
  min-height: 500px;
  text-align: center;
  color: #2f2f2f;
  margin-top: -25px; }
  .d4-1 h1 {
    font-size: 3em;
    margin-bottom: 35px;
    padding-top: 35px; }
  .d4-1 .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start; }
  .d4-1 a {
    text-decoration: none;
    color: #2f2f2f; }
    .d4-1 a :hover {
      text-decoration: underline; }
  .d4-1 h3 {
    margin-top: 20px; }
  .d4-1 p {
    font-weight: 300;
    max-width: 310px;
    margin-top: 10px; }
  .d4-1 .flex-item {
    margin: 10px 5%; }
  .d4-1 .container-slideshow {
    display: flex;
    justify-content: center; }
  .d4-1 div.item-slideshow {
    position: relative;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    background: #000000;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); }
  .d4-1 div.item-slideshow * {
    box-sizing: border-box; }
  .d4-1 div.item-slideshow img {
    max-width: 100%;
    vertical-align: top;
    height: 210px; }
  .d4-1 div.item-slideshow i {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    font-size: 34px;
    color: #000000;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #ffffff; }
  .d4-1 div.item-slideshow a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute; }
  .d4-1 div.item-slideshow.blue {
    background-color: #34495e; }
  .d4-1 div.item-slideshow.blue i {
    color: #34495e; }
  .d4-1 div.item-slideshow.red {
    background-color: #e74c3c; }
  .d4-1 div.item-slideshow.red i {
    color: #e74c3c; }
  .d4-1 div.item-slideshow.green {
    background-color: #16a085; }
  .d4-1 div.item-slideshow.green i {
    color: #16a085; }
  .d4-1 div.item-slideshow:hover img {
    opacity: 0.3;
    transform: scale(1.2);
    filter: grayscale(100%); }
  .d4-1 div.item-slideshow * {
    transition: all 0.35s ease-in-out; }
  .d4-1 div.item-slideshow i {
    transform: translate(-50%, -50%) scale(0);
    transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045); }
  .d4-1 div.item-slideshow:hover i {
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.e5 {
  display: block;
  min-height: 420px;
  color: #fff; }
  .e5 a {
    text-decoration: none;
    color: white; }
    .e5 a :hover {
      text-decoration: underline; }
  .e5 h1 {
    text-align: center;
    font-size: 3em;
    margin-top: 35px;
    margin-bottom: 0;
    padding-bottom: 0; }
  .e5 .flex-container {
    display: flex; }
  .e5 .cert {
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px; }
    .e5 .cert h3 {
      font-weight: 700; }

.f6 {
  display: block;
  background-color: #f0f0f0;
  min-height: 630px; }
  .f6 h1 {
    font-size: 3em;
    text-align: center;
    padding-top: 35px;
    margin-bottom: 60px; }
  .f6 .spawn {
    text-align: left; }
    .f6 .spawn .desc {
      margin-top: 20px;
      padding-bottom: 40px;
      text-indent: 2em;
      font-weight: 300; }
    .f6 .spawn a {
      text-decoration: none;
      color: #2f2f2f; }
  .f6 hr {
    margin: 10px 0;
    max-width: 685px; }
  .f6 section {
    width: 640px;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: relative; }
    .f6 section li {
      width: 500px;
      height: 300px;
      background: #333;
      display: inline-block;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      overflow: hidden; }
    .f6 section li p {
      color: white;
      font-weight: bold;
      font-size: 2em;
      text-align: center;
      margin-top: 1.175em; }
    .f6 section .items {
      position: absolute; }
    .f6 section .main-pos {
      margin-left: 2em !important;
      z-index: 3000; }
    .f6 section .left-pos {
      opacity: .3;
      margin-left: -13em !important;
      z-index: 1000;
      -webkit-transform: scale(0.75);
      -moz-transform: scale(0.75);
      transform: scale(0.3); }
    .f6 section .back-pos {
      margin-left: 2em !important;
      opacity: .05;
      -webkit-transform: scale(0.5);
      -moz-transform: scale(0.5);
      transform: scale(0.3); }
    .f6 section .right-pos {
      opacity: .3;
      margin-left: 17em !important;
      z-index: 1000;
      -webkit-transform: scale(0.75);
      -moz-transform: scale(0.75);
      transform: scale(0.3); }
    .f6 section span {
      position: relative;
      margin: 0 auto;
      left: 17em;
      top: 20em; }

.g7 {
  display: block;
  color: #2f2f2f;
  font-size: 1.5em;
  min-height: 300px;
  background-color: white; }
  .g7 h1 {
    padding-top: 40px;
    padding-bottom: 0px;
    margin-bottom: 30px;
    text-align: center; }
  .g7 ul {
    text-align: left; }
  .g7 .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0; }
  .g7 .flex-item {
    padding: 10px; }
  .g7 a {
    color: #2f2f2f;
    text-decoration: none;
    font-size: 0.9em; }
    .g7 a :hover {
      text-decoration: underline; }
  .g7 li {
    list-style: none;
    margin-bottom: 35px;
    margin-top: 0px; }

footer {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #2f2f2f;
  color: white;
  text-align: Left; }
  footer h3 {
    display: inline;
    font-size: 0.9em;
    font-weight: 300; }
  footer #right {
    float: right; }
  footer a {
    color: white; }

@media screen and (max-width: 819px) {
  .container, .xsm-container {
    width: 100%; }
  #home h1 {
    font-size: 0.7em;
    padding-top: 180px; }
    #home h1 span {
      border-bottom: 2px solid white; }
  #home h2 {
    font-size: 1.4em; }
  #home ul {
    margin-top: 0; }
    #home ul li {
      padding: 10px;
      font-size: 2em; }
  #about .flex-container {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 20px; }
  #about img {
    max-width: 150px;
    margin-right: 0;
    margin-bottom: 30px; }
  #about h1 {
    text-align: center;
    font-size: 1.5em; }
  #about p {
    margin: 0;
    padding: 15px;
    font-size: 1em; }
  #skills {
    display: block;
    min-height: 500px; }
    #skills h1 {
      font-size: 1.2em; }
    #skills .flex-container .item {
      padding: 5px; }
    #skills .flex-container img {
      max-width: 90px; }
    #skills li {
      font-size: 0.9em;
      margin-bottom: 25px;
      margin-left: 20px;
      margin-right: 20px; }
    #skills hr {
      max-width: 260px; }
  #project h1 {
    margin: 0 5px;
    font-size: 2.3em; }
  #certifications h1 {
    font-size: 2em; }
  #internship {
    display: block;
    min-height: 500px; }
    #internship hr,
    #internship section {
      display: none; }
    #internship h1 {
      padding-top: 15px;
      margin-left: 15px;
      margin-bottom: 25px;
      font-size: 1.9em; }
    #internship h3 {
      font-size: 1em;
      margin-left: 15px; }
    #internship h6 {
      margin-left: 15px; }
    #internship p {
      margin: 0 15px;
      font-size: 1em; }
  #contact {
    min-height: 300px;
    display: block; }
    #contact h1 {
      padding-top: 20px;
      font-size: 2em; }
    #contact .flex-container {
      display: inline-block; }
    #contact .flex-item {
      padding: 0;
      margin: 0; }
    #contact ul {
      font-size: 0.6em;
      margin: 0;
      padding: 0; }
  footer {
    text-align: left;
    min-height: 40px;
    padding-left: 30px; }
    footer #right {
      float: left; } }
