// Variables
$body-bg: #fff;
$main-font: 'Arial';

$primary-color: #ff5733;
$secondary-color: #fff;
$light-color: #f0f0f0;
$light-dark-color: #b8b8b8;
$dark-color: #707070;
$white: #fff;
$black: #000;

$container: 85%;
$section-padding: 20px;

// Functions

// Adjusts the color of the text automatically accordingly with the brightness of $bg-color 
// THIS IS AWESOME!!!!!!!!!!!!!
@function set-text-color($bg-color){
    @if(lightness($bg-color) > 50){
        @return #000;
    } @else {
        @return #fff;
    }
}


 *{
     margin: 0;
     padding: 0;
 }


body {
    position: relative;
    font-family: Lato;
    font-size: 1rem;
    // background-color: blueviolet;
    background-image: url('../img/tests/gradient.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #2f2f2f;
}

nav {
    position: fixed;
    z-index: 100000;
    background-image: url('../img/tests/gradient.jpg');
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
    color: white;

    li{
        display: inline-block;
        margin-right: 25px;
        
        a {
            text-decoration: none;
            color: white;
            font-weight: 300;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    
}

.background-img {
    box-sizing: border-box;
    position: absolute;
    z-index: -10;
    max-width: 100%;
    max-height: 100vh;
    

    img {
        width: 100%;
        height: 100vh;
        // animation: bgMotion 5s linear infinite;
        transform: scale(1);
    }


    @keyframes bgMotion {
        0% {
            opacity: 1;
            transform: scale(2);
        }

        50% {
            opacity: 1;
            transform: scale(10);
        }

        100% {
            opacity: 1;
            transform: scale(2);
        }
    }


}



.container {
    margin: auto;
    width: $container;
    // border: 2px solid red;
}

.sm-container {
    // border: 2px solid red;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 70%;
}

.xsm-container {
    margin: auto;
    width: 70%;
}

.a1 {
    min-height: 100vh;
    // background-color: $dark-color;
    color: $white;
    text-align: center;

    h1 {
        padding-top: 230px;
        margin-bottom: 0;

        span {
            font-size: 2.5em;
            text-transform: uppercase;
            border-bottom: 7px solid white;
            padding-bottom: 6px;
        }
    }

    h2 {
        margin-top: 17px;
        font-size: 3.9em;
        font-weight: 300;
    }

    ul {
        padding-top: 50px;
        list-style: none;
        text-align: center;
        margin-top: 5%;
        display: block;

        li {
            font-size: 50px;
            text-decoration: none;
            padding: 35px;
            display: inline-block;

            a {
                color: white;
            }
        }
    }

}

.b2 {
    display: block;
    min-height: 325px;
    background-color: $white;
    h1 {
        display: block;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 20px;
        // text-align: center;
    }

    .flex-container {
        // border: 3px solid green;
        display: flex;
        flex-direction: row;
        max-width: 960px;
        margin: auto;
        padding-top: 100px;
        padding-bottom: 60px;
        .flex-item1{
            // background-color: red;
            align-self: center;
            img {
                max-width: 250px;
                border-radius: 50%;
                // margin-left: 40px;
                margin-right: 40px;
            }
        }

        .flex-item2{
            // background-color: blue;
            align-self: center;

            p {
                font-weight: 300;
                font-size: 1.5em;
                word-spacing: 0.3em;
                margin-bottom: 20px;
                text-align: left;
            }
        }
    }

}

.c3 {
    display: none;
    background-color: $light-color;
    min-height: 500px;
    padding-top: 50px;

    h1 {
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 20px;
    }

    .flex-container {
        border: 3px solid green;
        text-align: center;
        // max-width: 960px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        align-content: center;

        .flex-item{
            max-width: 250px;
            // padding: 20px;

            img {
                margin-bottom: 25px;
            }

            p {
                font-weight: 300;
                font-size: 1.2em;
            }

            .t1 {
                background-color: yellowgreen;
            }
        }

    }


}

.c3-1 {
    display: block;
    background-color:$white;
    min-height: 800px;
    padding-top: 0px;


    hr {
        margin: 25px auto;
        max-width: 685px;

    }

    img {
        max-width: 200px;
    }


    .title {
        font-size: 1.5em;
        text-align: center;   
        padding-bottom: 25px;     
    }

    .flex-container {

        display: flex;
        justify-content: center;
        

        .item {
            padding: 30px;
        }
    }


        ul{
            list-style: none;
            margin-top: 25px;
            text-align: center;

            li{
                font-weight: 300;
                margin: 5px;
            }
        }
    
}

.d4 {
    background-color: $light-color;
    display: none;
    margin-top: -25px;
    padding-top: 50px;
    min-height: 425px;

    h1 {
        font-size: 3em;
        text-align: center;
        margin-bottom: 35px;
    }

    ul {
        list-style: none;
    }

    .flex-container {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .square {
        background-color: blue;
        width: 225px;
        height: 225px;
        margin: 30px;
    }

    .flex-item:hover {
        box-shadow: 1px 1px 5px #888888;
        z-index: 2;
    }

}

.d4-1 {
    background-color: $light-color;
    min-height: 500px;
    text-align: center;
    color: #2f2f2f;
    margin-top: -25px;

    h1 {
        font-size: 3em;
        margin-bottom: 35px;
        padding-top: 35px;
    }

    .flex-container {
        // background-color: red;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
    }

    a {
        text-decoration: none;
        color: #2f2f2f;
    }

    h3 {
        margin-top: 20px;
    }

    p {
        font-weight: 300;
        max-width: 310px;
        margin-top: 10px;
    }

    .flex-item {
        margin: 10px 5%;
    }

}

.e5 {
    display: block;
    min-height: 480px;
    color: $white;

    a {
        text-decoration: none;
        color: white;
    }

    h1 {
        text-align: center;
        font-size: 3em;
        margin-top: 35px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .flex-container {
        display: flex;
    }

    .cert {
        margin-bottom: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;

        h3 {
            font-weight: 700;
        }

    }

}

.f6 {
    display: block;
    background-color: $light-color;
    min-height: 630px;

    h1 {
        font-size: 3em;
        text-align: center;
        padding-top: 35px;
        margin-bottom: 60px;
    }

    .spawn {
        text-align: left;

        .desc {
            margin-top: 20px;
            padding-bottom: 40px;
            text-indent: 2em;
            font-weight: 300;
        }

        a {
            text-decoration: none;
            color: #2f2f2f;
        }
    }

    
    hr {
        margin: 10px 0;
        max-width: 685px;

    }
}


// SlideShow

section {
    width: 640px;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: relative;


    li {
        width: 500px;
        height: 300px;
        background: #333;
        display: inline-block;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        overflow: hidden;
    }

    li p {
        color: white;
        font-weight: bold;
        font-size: 2em;
        text-align: center;
        margin-top: 1.175em;
    }

    .items {
        position: absolute;
    }

    .main-pos {
        margin-left: 2em !important;
        z-index: 3000;
        /*background-image: url('https://dl.dropbox.com/u/32649907/imgs/shadow.png');*/
    }

    .left-pos {
        opacity: .3;
        margin-left: -17em !important;
        z-index: 1000;
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        transform: scale(.3);
    }

    .back-pos {
        margin-left: 2em !important;
        opacity: .05;
        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        transform: scale(.3);
    }

    .right-pos {
        opacity: .3;
        margin-left:  21em !important;
        z-index: 1000;
        -webkit-transform: scale(.75);
        -moz-transform: scale(.75);
        transform: scale(.3);
    }

    span {
        position: relative;
        margin: 0 auto;
        left: 17em;
        top: 20em;
    }

}

.g7 {
    display: block;
    color: #2f2f2f;
    font-size: 1.5em;
    min-height: 370px;
    background-color: white;
    
    h1 {
        padding-top: 40px;
        padding-bottom: 0px;
        margin-bottom: 0;
        text-align: center;
    }

    .flex-container {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        align-content: center;
        align-items: center;

        margin: 0 auto;
        padding: 0;
    }

    .flex-item {

        // background-color: red;
        padding: 15px 15px;;
        margin-right: 10px;
    }

    a {
        color: #2f2f2f;
        text-decoration: none;
        font-size: 0.9em;

    }

    a:hover {
        text-decoration: underline;
    }

    li {
        list-style: none;
        margin-bottom: 35px;
        margin-top: 0px;
    }

}

footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #2f2f2f;
    color: white;
    text-align: Left;

    h3 {
        display: inline;
        font-size: 0.9em;
        font-weight: 300;
    }

    #right {
        float: right;

    }

    a {
        // text-decoration: none;
        color: white;
    }
}

.container-slideshow {
    display: flex;
    justify-content: center;

  }
  
  div.item-slideshow {
    position: relative;
    // float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    background: #000000;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }
  
  div.item-slideshow * {
    box-sizing: border-box;
  }
  
  div.item-slideshow img {
    max-width: 100%;
    vertical-align: top;
    height: 210px;
  }
  
  div.item-slideshow i {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    font-size: 34px;
    color: #000000;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #ffffff;
  }
  
  div.item-slideshow a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
  }
  
  div.item-slideshow.blue {
    background-color: #34495e;
  }
  div.item-slideshow.blue i {
    color: #34495e;
  }
  div.item-slideshow.red {
    background-color: #e74c3c;
  }
  div.item-slideshow.red i {
    color: #e74c3c;
  }
  
  div.item-slideshow.green {
    background-color: #16a085;
  }
  div.item-slideshow.green i {
    color: #16a085;
  }
  
  /* ANIMATION STARTS HERE */
  div.item-slideshow:hover img{
    opacity: 0.3;
    transform: scale(1.2);
    filter: grayscale(100%);
  }
  
  div.item-slideshow * {
    transition: all 0.35s ease-in-out;
  }
  

  div.item-slideshow i {
    transform: translate(-50%, -50%) scale(0);
    transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  

  div.item-slideshow:hover i {
    transform: translate(-50%, -50%) scale(1);
    transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

.itemZOOM * {
    transition: all 0.15s ease-in-out;
}
  

.itemZOOM {
    transform: translate(0%, 0%) scale(0.9);
    transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
  

.itemZOOM:hover {
    transform: translate(0%, 0%) scale(1.3);
    transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}